[Unit]
Description=openhab
After=network.target

[Service]
User=openhab
SupplementaryGroups=dialout
DynamicUser=yes
ReadWritePaths=/srv/openhab
LogsDirectory=openhab
Environment=OPENHAB_HOME=/opt/openhab
Environment=OPENHAB_RUNTIME=/opt/openhab/runtime
Environment=OPENHAB_CONF=/srv/openhab/conf
Environment=OPENHAB_USERDATA=/srv/openhab/userdata
Environment=OPENHAB_LOGDIR=/var/log/openhab
EnvironmentFile=/etc/default/openhab
EnvironmentFile=-/boot/openhab.txt

AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/opt/openhab/runtime/bin/karaf daemon
ExecStop=/opt/openhab/runtime/bin/karaf stop
SuccessExitStatus=143

Restart=always
RestartSec=10

LimitNOFILE=102642

[Install]
WantedBy=multi-user.target
