[Match]
Type=ether

[Network]
EmitLLDP=yes
LinkLocalAddressing=ipv4
MulticastDNS=yes
DHCP=ipv4
IPv6AcceptRA=no

[DHCP]
ClientIdentifier=mac
RouteMetric=100
