[Match]
Type=wlan
WLANInterfaceType=station

[Network]
LinkLocalAddressing=yes
MulticastDNS=yes
DHCP=yes

[DHCP]
ClientIdentifier=mac
RouteMetric=200
