[Match]
Type=wlan
WLANInterfaceType=station

[Network]
LinkLocalAddressing=ipv4
MulticastDNS=yes
DHCP=ipv4
IPv6AcceptRA=no

[DHCP]
ClientIdentifier=mac
RouteMetric=200
